<h1>New page</h1>

<form action="<%= celebrities_path %>" method="POST" >
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <label>Name</label>
  <input type="text" name="celebrity[name]" />

  <label>Notability</label>
  <input type="text" name="celebrity[notability]" />

  <label>Image Url</label>
  <input type="text" name="celebrity[profile_picture]" />

  <input type="submit" value="Create" />
</form>