// Place all the styles related to the celebrities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: tomato;
  text-decoration: none;
}

img {
  max-width: 300px;
}

.box {
  border: 1px solid black;
}

ol {
  margin-left: 0px;
  padding-left: 0px;
}

.nav-logo-color {
  color: black;
}